/* all body tag start here */
body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 100;       
}
.admin-nav{
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    
}

.admin-link{
    display: flex;
    align-items: center;
}
.admin-link div{
    flex:0 0 33.33% ; 
    font-size: 17px;
}
.admin-right{
    display: flex;
    flex-direction: row;
}
/* baki ache ********************** */






/* ********************************** */
.main-menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    height: 40px;
}

.main-menu{
    display: flex;
}

.main-menu li{
    position: relative;
    margin: 20px;
    display: flex;
    font-weight: bold;
}
.main-menu li a{
    color: black;

}

.right-menu a{
    margin:0px 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.fa-shopping-cart{

    position: relative;
}
.number-cart-product{
    position: absolute;
    /* top: -17px;
    right: -17px;

    width: 25px; */

    /* height: 25px;
    font-size: 15px;
    border-radius: 50%; */
    background-color: blue;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;


}

#card_items .card{
	width:25%;
}
#card_items{
    margin: 0 auto;
    padding: 40px 30px;
}


/* slider..................... */

.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.f-slider-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    letter-spacing: 1px;
}
.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}
.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0000FF;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 14px; */
}
.f-slider-text strong font{
    color: #0000FF;
}



.hero-section2{
	/*height: 30vh;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/

	width: 100%;
	height: auto;
	background: white;
	display: flex;
	flex-direction: row;
	/* margin-top: 10px; */
}

.box {
	width: 25%;
	height: 300px;
	background: white;
	box-sizing: 50px;
	align-items: center;
	margin-left: 15px;

}
.box img{
	width: 98%;
	height: 350px;
	position: relative;
}
.box a
{
	position: absolute;
	margin-top: 300px;
	margin-left: -300px;
	border: 1px solid blue;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
.box a :hover
{
	background-color: white;
	color: blue;
	list-style: none;
}
.box2 {
	width: 45%;
	height: 65px;
	background: white;

	box-sizing: 50px;
	border: 1px solid black;

}
.itemLine ul{
	
 list-style-type: none;
 margin-top:20px;
  

}

.itemLine ul li{
	  display: inline;
	  margin-right: 50px;
	  margin-top: 15px;
	  padding: 10px;
	  border: 1px solid black;
	 border-radius:10px;
	 font-size: 12px;
}
.itemLine .active{
margin-left: 30px;
background-color: blue;
color: white;
}
.product-category
{
	 display: flex;

}
.product-category .product-category-single{
  flex: 50%;
  padding: 10px;
  height: 238px;

}
.product-category-single img
{
	width: 100px;
	height: 100px;
}
.product-category-single
{
	display: flex;
}
.product-img
{
	flex: 50%;
}
.product-text
{
	flex: 50%;
}
.box2-arrows{
	margin-left: 750px;
	margin-top: -25px;

}
.product-category2
{
	display: flex;
	margin-top: -100px;
	margin-left: 10px;

}
.box3
{
	width: 30%;
	color: white;
	border-radius: 5px;
	margin-left: 10px;
}
.box3 img{
	width: 98%;
	height: 350px;
	position: relative;
}
.box3-items
{
	position: absolute;
	margin-top: -100px;
	margin-left: 170px;
}
.box3-items a
{
	color: blue;
	text-transform: uppercase;
}
.box3-items div
{
	border: 1px solid blue;
	background-color: blue;
	color: white;
	padding: 3px;
	border-radius: 5px;
	margin-left: 50px;

}
.box3-items .icon-add-to-cart::before
{
	color: white;
}



.featured-products{
	margin: 10px 13px 15px 16px;
	background: #007bff;
	
}
.featured-title
{
	color: rgb(48, 47, 47);
	margin-left: 52px;
	text-transform: uppercase;
	padding: 15px;
	font-weight: bold;
	font-size: 23PX;

}
.featured-box {
	width: 100%;
	/* height: 500px; */
	/* add flexbox style */
	margin-top: -20px;

	display: flex;
	flex-direction: row;

	
}
 .featured-box .f-box{
	width: 20%;
	height: 400px;
	background:white;
	margin: 20px 20px 20px 50px;
	box-sizing: border-box;


	
	
}

.Best-products{
	white:100%;
	height: auto;
	background: white;
	/* margin-right: 15px; */
	/* margin-left: 0px; */
	/* margin-top: 70px; */
	display: flex;
}
.box-pro{
	width: 50%;
	height: 500px;
	background:cornflowerblue;
	/* margin: 20px; */
	box-sizing: border-box;
	font-size: 50px;

	
}


.blog{
	white:100%;
	height: auto;
	background: white;
	/* margin-right: 15px;
	margin-left: 28px;
	margin-top: 70px; */
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}

.blog-box{
	width: 25%;
	height: 250px;
	background:cornflowerblue;
	/* margin: 20px ; */
	box-sizing: border-box;
	font-size: 50px;
	background: url("img/manufacture-1.png");
	background-repeat: no-repeat;
	

}

.twoBox{
width: 95%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 10px auto;
}

.left-right-box{

	width: 280px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    flex-grow: 0.5;

}

.left-right-box img{
	width: 100%;
    height: 100;
    object-fit: cover;
    object-position: center right;
    align-items: flex-end;
}
 .left-right-text strong{
	font-size: 40px;
	font-weight: 500;
    width: 80%;
    line-height: 50px;
}

.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #333131;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
.footar-1{
	
	background-color: #333131;
	height: 135px;
}
.futter-fu{
	
	background: #007bff;
	
}

#footer-box{
	width: 20%;
	height: 400px;
	background:#333131;
	margin: 20px 20px 20px 50px;
	box-sizing: border-box;


	
	
}

#cont{
	display:inline;

}